<h4>類別支出排名</h4>
<br />
{{!-- <div class="row d-flex justify-content-around">
  {{#if isExpenseRecordPresent}}
  <div class="col-12 col-md-6 col-lg-5 mb-3">
    <canvas id="expense-chart" width="400" height="400" aria-label="expense doughnut chart"></canvas>
  </div>
  {{/if}}
  <input id="housewares" class="expense-housewares-sum" type="hidden" name="housewares"
    value="{{#if isExpenseRecordPresent}}{{ expenseCategorizedSum.housewares }}{{else}}0{{/if}}">
  <input id="transportation" class="expense-transportation-sum" type="hidden" name="transportation"
    value="{{#if isExpenseRecordPresent}}{{ expenseCategorizedSum.transportation }}{{else}}0{{/if}}">
  <input id="entertainment" class="expense-entertainment-sum" type="hidden" name="entertainment"
    value="{{#if isExpenseRecordPresent}}{{ expenseCategorizedSum.entertainment }}{{else}}0{{/if}}">
  <input id="consumption" class="expense-consumption-sum" type="hidden" name="consumption"
    value="{{#if isExpenseRecordPresent}}{{ expenseCategorizedSum.consumption }}{{else}}0{{/if}}">
  <input id="others" class="expense-others-sum" type="hidden" name="others"
    value="{{#if isExpenseRecordPresent}}{{ expenseCategorizedSum.others }}{{else}}0{{/if}}">
</div> --}}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">排名</th>
      <th scope="col">支出類別</th>
      <th scope="col">總額</th>
    </tr>
  </thead>
  <tbody>
    {{#each sortList}}
    <tr>

      <th scope="row">{{ this.rating }}</th>

      <td>{{ this.name }}</td>
      <td>{{ this.amount }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>