<h4>使用者頁列表</h4>
<br />
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">信箱</th>
      <th scope="col">名字</th>
      <th scope="col">收支紀錄筆數</th>
      <th scope="col">觀看及刪除</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.email}}</th>
      <td>{{this.name}}</td>
      <td>
        <span>{{this.recordLength}}</span>
      </td>
      <td>
        <button type="button" class="btn btn-link">
          <a href="/admin/user/{{this._id}}">
            Show
          </a>
        </button>
        <form action="/admin/user/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>