<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>expense tracker</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/b6c3d3cded.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <!--navbar-->
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-info">
    {{#if (eq user.name "root")}}
    <a class="navbar-brand mb-0 h1 mr-auto" href="/admin/index">
      <i class="fas fa-search-dollar"></i></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="{{#if (eq index 'userList')}} nav-link active{{else}} nav-link{{/if}}" href="/admin/index">使用者清單</a>
        </li>
        <li class="nav-item dropdown">
          <a class="{{#if (eq index 'userRating')}}nav-link dropdown-toggle active {{else}} nav-link dropdown-toggle{{/if}}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            使用者排名
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin/users/income" >收入排行表</a>
            <a class="dropdown-item" href="/admin/users/expense">支出排行表</a>
          </div>
        </li>
        <li class="{{#if (eq index 'categoryRating')}}nav-item dropdown active {{else}} nav-item dropdown{{/if}}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            類別排名
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin/category/income">收入排行表</a>
            <a class="dropdown-item" href="/admin/category/expense">支出排行表</a>
          </div>
        </li>
      </ul>
    </div>
    {{ else }}
    <a class="navbar-brand mb-0 h1 mr-auto" href="/">
      {{#if isAuthenticated}}
      {{user.name}}'s
      {{/if}}
      家庭記帳本</a>
    {{#if isAuthenticated}}
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item {{#if (eq index 'expense')}} active {{/if}}">
          <a class="nav-link" href="/">支出 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {{#if (eq index 'income')}} active {{/if}}">
          <a class="nav-link" href="/income">收入</a>
        </li>
        <li class="nav-item {{#if (eq index 'balance')}} active {{/if}}">
          <a class="nav-link" href="/balance">收支平衡表</a>
        </li>
  
      </ul>
    </div>
    {{/if}}
    {{/if}}
    {{#if isAuthenticated}}
    <a href="/users/logout" class="btn btn-outline-light my-2 my-lg-0">Logout</a>
    {{else}}
    <a href="/users/login" class="btn btn-outline-light my-2 my-lg-0">Login</a>
    {{/if}}
  </nav>
  <div class="container pt-5" style="min-width: 300px;">
    {{> message}}
    {{{ body }}}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
  <script src="/javascripts/chart.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  {{!-- Custom Warning Alert Notification --}}
  <script>
    $('.close-btn').click(function () {
      $('.alert').removeClass("show");
      $('.alert').addClass("hide");
    });
    $('.close-btn').click(function () {
      $('.success').removeClass("show");
      $('.success').addClass("hide");
    });
  </script>
</body>

</html>